$titleRed: #CB0015;
$backgroundPincipal: #2E2F30;
$fontTitle: 'Roboto', sans-serif;
$fontTxt: 'Montserrat', sans-serif;
$tabletSpace: calc(100% - 80px);
$mobileSpace: calc(100% - 40px);
$lineHeightTxt : 1.5em;